{% load static %}
<!doctype html>


<footer class="Footer">

  <div class="Footer__beautySpace"></div>
  <div class="Footer__body">
    <a href="#"><img class="Footer_logo" src="{% static "images/captain_console.png" %}"
        alt="Captain Console logo"></img></a>
    <div class="About">
      <span>ABOUT CAPTAIN CONSOLE</span>
      <span>About us</span>
    </div>
    <div class="Contact">
      <span>CONTACT US</span>
      <span>captain@console.com</span>
    </div>
    <div class="Social">
      <span>GET SOCIAL</span>
      <div class="Footer__socialImages">
        <a href="#"><img class="Facebook_logo" src="{% static "images/facebook_logo.png" %}"  alt="Facebook logo"></img></a>
        <a href="#"><img class="Instagram_logo" src="{% static "images/instagram_logo.png" %}"  alt="Instagram logo"></img></a>
        <a href="#"><img class="Pinterest_logo" src="{% static "images/pinterest_logo.png" %}"  alt="Pinterest logo"></img></a>
      </div>
    </div>
  </div>
  <div class="Footer__copyright">
    <span>© 2020 Copyright: Captain Console</span>
  </div>
</footer>

</html>