{% load static %}
<header class="Header">
  <div class="Header__beautySpace"></div>

  <div class="Header__body">
    <a href="/"><img class="Header_logo" src="{% static "images/captain_console.png" %}" alt="Captain Console logo"></img></a>
    <a href="/"><h1 class="Header__title">Captain Console</h1></a>
    <div class="Header__searchWrapper">
         <form class="form-inline my-2 my-lg-0">
          <input class="Header__searchForm form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search-box">
          <button class="Header__searchButton btn btn-outline my-2 my-sm-0" type="submit" id="search-btn">Search</button>
        </form>
        <span class="Header__searchHistory">search history</span>
    </div>
    {% if user.is_authenticated %}
        <div class="Header__userWrapper">
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.get_username }}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/profiles/my-account">My Account</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          
          </div>
          
        </div>
    {% else %}
        {% if request.path != '/' or request.path != '/products/'  %}
            <div class="Header__userWrapper">
                <a href="/profiles/login"><button class="User__login">login </button></a> |
                <a href="/profiles/register"> <button class="User__createAccount">create account</button></a>
            </div>
        {% else %}
            <div class="Header__userWrapper">
                <a href="/profiles/login"><button class="User__login">login |</button></a>
                <a href="/profiles/register"> <button class="User__createAccount">create account</button></a>
            </div>
        {%  endif %}
    {% endif %}
  </div>
  <div class="Header__navbar">
    <a href="{% url 'games' %}" class="Header__navbarItem" id="video-games">
    VIDEO GAMES
    </a>

    <span class="Header__navbarBorder"></span>

    <a href="{% url 'consoles' %}" class="Header__navbarItem" id="consoles">
    CONSOLES
    </a>

    <span class="Header__navbarBorder"></span>

    <a href="{% url 'accessories' %}" class="Header__navbarItem" id="accessories">
    ACCESSORIES
    </a>

    <span class="Header__navbarBorder"></span>

    <a href="{% url 'used' %}" class="Header__navbarItem" id="used">
    BUY USED
    </a>

    <span class="Header__navbarBorder"></span>

    <a href="{% url 'index' %}" class="Header__navbarItem" id="about">
    ABOUT US
    </a>

    <span class="Header__navbarBorder"></span>

    <a href="#" class="Header__navbarItem" id="cart">
      <img class="Shopping_Cart" src="{% static "images/shopping_cart.svg" %}" alt="Shopping cart"></img>
    Cart total ({% if not request.session.cart_total %} 0 {% else %} {{ request.session.cart_total }}{% endif %})
    </a>
  </div>

</header>