{% extends 'base.html' %}
<!-- Required syntax to let django know to use the content below to extend base.html' -->
{% block content %}
<!-- Write HTML for the block content here. Can also use python logic (see example below) -->
<div class="LandingPage__container">
    <div class="Image__wrapper">
        <div style="display:flex">
        <img class="LandingPage__image"
            src="https://images.pexels.com/photos/2263815/pexels-photo-2263815.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="">
        <img class="LandingPage__image"
            src="https://images.pexels.com/photos/2263818/pexels-photo-2263818.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="">
        </div>
        <div class="TextButton__wrapper">
            <h2>You can still buy a Game Boy...</h2>
            
            <form action="/products/consoles" method="get">
                <button class="ShopNow__button">Shop now</button>
             </form>
        </div>
    </div>
</div>

{% endblock %}
