{% extends 'base.html' %}
{% load crispy_forms_filters %}  <!-- Required syntax to let django know to use the content below to extend base.html' -->
{% load crispy_forms_tags %}
{% block content %}
    <!-- Display error if form has errors-->
   
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div class="login">
        <div class="Welcome_loginMsg">Sign in!</div>
    <form method="post">
    {% csrf_token %}
    
        <div class="Login__PageInput">
           
            {{ form|crispy }}
            {% if request.path == '/profiles/'  %}
            <p>Don't have an account? Create one <a class="link_href" href="/register">here</a></p>
            {% else %}
            <p>Don't have an account? Create one <a class="link_href" href="/profiles/register">here</a></p>
            {% endif %}
            <button type="submit" class="btn btn-primary login__button">Sign in</button>
        </div>
     
    </form>
</div>
{% endblock %}