.EditProfile__msg {
  margin-bottom: 30px;
  font-size: x-large;
  color: black
}

.EditProfile__PageInput {
  width: 363px;
  display: flex;
  flex-flow: column;
  color: #61646d;
  font-weight: 600;
}

.EditProfile__Page {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: #61646d;
  justify-content: center;
}

.EditProfileForm__firstName {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.FirstName__Input {
  border: 1px solid gray;
  border-radius: 4px;
}

.EditProfileForm__lastName {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.LastName__Input {
  border: 1px solid gray;
  border-radius: 4px;
}

.EditProfileForm__email {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.Email__Input {
  border: 1px solid gray;
  border-radius: 4px;
}

.EditProfileForm__password {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.Password__Input {
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 10px;

}

.EditProfile__Button {
  width: 100px;
  margin: auto;
  height: 30px;
  background-color: #ECA05A;
  color: white;
  border: none;
  border-radius: 4px;
}

.EditImage {
  display: flex;
  flex-flow: column;
  margin-left: 30px;
  align-items: center;
}

.UserImage {
  width: 50px;

  justify-content: center;
  align-items: center;
}

.EditProfile__Button {
  margin-top: 5px;
}