.login {
  margin: 20px auto;
  width: 40%;
}

.Welcome_loginMsg {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 30px;
}

.login__button {
  background-color: #ECA05A;
  border-color: #ECA05A;
  color: white;
}

.login__button:hover {
  background-color: #ECA05A;
  border-color: #ECA05A;
  color: white;
}

.login__button:activate {
  background-color: #ECA05A;
  border-color: #ECA05A;
  color: white;
}