.captain {
    border-bottom: cornflowerblue 3px;
}

.single-product {
    background-color: lightgray;
    border: darkgray 5px;
}

img {
    max-height: 250px !important;
    max-width: 250px !important;
}
