.captain {
    border-bottom: #cornflowerblue 3px;
}

.single-product {
    background-color: #7B7B7B;
    border: #7B7B7B 5px;
}
.link_href{
    color:  #007bff;
    }
.link_href:hover{
color:  #0056b3;
}