{% extends 'base.html' %}  <!-- Required syntax to let django know to use the content below to extend base.html' -->
{% block content %}
    <!-- Write HTML for the block content here. Can also use python logic (see example below) -->
    <div class="captain">  <!-- Our custom css can be found in src/static/css -->
        <h1>Hello products page index!</h1>
        <h2>Edit index.html under products/templates/products to change this content</h2>
    </div>
    <div class="products">
        {% for product in products %}  <!-- Python logic to loop through products container in src/products/views.py -->
            {% include 'products/single_product.html' with product=product %}
        {% endfor %}
    </div>
{% endblock %}