<!-- This is a template for how each product will look on the products page. -->
    
<a href="/products/{{ product.id }}" class="SingleProduct">
    <img class="SingleProduct__image"
      src="{{ product.firstImage }}" alt="">
    <div class="SingleProduct__generalDesrciption">
      <div class="SingleProduct__namePriceWrapper">
        <span class="SingleProduct__name">{{ product.name }}</span>
        <span class="SingleProduct__price">${{ product.price }}</span>
      </div>
      <span class="SingleProduct__type">{{ product.category }}</span>
    </div>
  </a>