<form>
  <div class="EditProfile__Page">
    <div class="EditProfile__PageInput">
      <span class="EditProfile__msg">Hi, feel free to edit any of your details</span>
      <div class="EditProfileForm__firstName">
        <label for="FirstName__Input">First Name:</label>
        <input type="firstName" class="FirstName__Input" id="FirstName">
      </div>
      <div class="EditProfileForm__lastName">
        <label for="LastName__Input">Last Name:</label>
        <input type="lastName" class="LastName__Input" id="LastName">
      </div>
      <div class="EditProfileForm__email">
        <label for="Email__Input">Email Address:</label>
        <input type="email" class="Email__Input" id="email">
      </div>

      <div class="EditProfileForm__password">
        <label for="Password__Input">Password:</label>
        <input type="password" class="Password__Input" id="Password">
      </div>

      <button type="submit" class="EditProfile__Button">Update profile</button>
    </div>

    <div class="EditImage">
      <a href="#"><img class="UserImage"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQhOxSsUYEzbUV78yoprwoioiXlgHyaF9RlXiwZfpqP3NdeGvJm&usqp=CAU"></img></a>
      <button type="submit" class="EditProfile__Button">Edit Image</button>
    </div>
  </div>

</form>