{% extends 'base.html' %}
<!-- Required syntax to let django know to use the content below to extend base.html' -->
{% load crispy_forms_tags %}
{% block content %}
<div class="signup">
    <div class="Welcome_signupMsg">Sign up!</div>
    <form method="post" class="form-group">
      {% csrf_token %}
      {{ form|crispy }}
      <p>Have an account? Login <a class="link_href" href="/profiles/register">here</a></p>
      <button type="submit" class="btn btn-primary signup__button">Sign up</button>
  </form>
</div>
{% endblock %}