<form>
  <div class="SignUp__Page">
    <div class="SignUp__PageInput">
      <span class="SignUp__msg">Sign up</span>
      <div class="SignUpForm__firstName">
        <label for="FirstName__Input">First Name:</label>
        <input type="firstName" class="FirstName__Input" id="FirstName">
      </div>
      <div class="SignUpForm__lastName">
        <label for="LastName__Input">Last Name:</label>
        <input type="lastName" class="LastName__Input" id="LastName">
      </div>
      <div class="SignUpForm__email">
        <label for="Email__Input">Email Address:</label>
        <input type="email" class="Email__Input" id="email">
      </div>

      <div class="SignUpForm__password">
        <label for="Password__Input">Password:</label>
        <input type="password" class="Password__Input" id="Password">
      </div>

      <button type="submit" class="SignUp__Button">Sign up</button>
    </div>

  </div>

</form>