
{% extends 'base.html' %}
{% block content %}
    <form>
      <div class="Login__Page">
        <div class="Login__PageInput">
          <span class="WelcomeBack__msg">Sign In</span>
          <div class="LoginForm__email">
            <label for="Email__Input">Email Address:</label>
            <input type="email" class="Email__Input" id="email">
          </div>

          <div class="LoginForm__password">
            <label for="Password__Input">Password:</label>
            <input type="password" class="Password__Input" id="Password">
          </div>

          <button type="submit" class="SignIn__Button">Sign in</button>
        </div>


      </div>

    </form>
{% endblock %}